/* ----------------------ABOUT SECTION-------------------------- */

.about {
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 5rem;
  background: var(--second-bg-color);
  /* position: relative; */
}

.img-container {
  text-align: center;
  position: relative;
}

.about-img {
  max-width: 100%;
  max-height: auto;
  border: 2px solid rgb(115, 8, 209);
  border-radius: 5%;
  overflow: hidden;
}

.about-img img {
  max-width: 300px;
  /* filter: drop-shadow(10px 8px 8px rgb(3, 35, 72))
    drop-shadow(-10px 10px 10px rgb(3, 34, 69)); */
}

.info-about1,
.info-about2 {
  background: rgb(3, 34, 69);
  font-size: 0.5rem;
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 60% 31% 66% 34% / 21% 30% 70% 79%;
  display: block;
  box-shadow: var(--neon-box-shadow);
  border: 1px solid var(--hover-color);
  outline: 2px solid var(--bg-color);
  z-index: 100;
  animation: marph 6s linear infinite;
  position: absolute;
}

@keyframes marph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% /40% 40% 60% 50%;
  }

  30% {
    border-radius: 70% 30% 50% 50% /30% 30% 70% 70%;
  }

  60% {
    border-radius: 100% 60% 60% 100% /100% 100% 60% 60%;
  }

  80% {
    border-radius: 69% 31% 66% 34% /21% 30% 70% 79%;
  }
}

.info-about1 {
  left: -12%;
  top: 58%;
}

.info-about2 {
  left: 88%;
  top: 80%;
}

.img-container span {
  color: var(--hover-color);
  font-size: 1rem;
  font-weight: 600;
}

.about-content span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-content h1 {
  color: var(--hover-color);
  font-weight: 700;
  font-size: var(--normal-font);
}

.about-content p {
  color: #fdfdfd;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

/* Design of button */
.about-btn div {
  position: relative;
  display: inline-block;
  padding: 1.5rem 2rem;
  left: 50%;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 0.5rem;
  overflow: hidden;
  font-weight: 900;
}

.about-btn div:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.about-btn div span {
  position: absolute;
  display: block;
}
.about-btn div span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.about-btn div span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.about-btn div span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.about-btn div span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* Read more block */
.read-more {
  width: 80%;
  position: absolute;
  background: var(--bg-color);
  padding: 2rem;
  margin-top: 5rem;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  grid-gap: 10px;
  z-index: 10001;
  box-shadow: var(--neon-box-shadow);
}

.read-more .block {
  display: flex;
}

.block p {
  text-align: justify;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  padding: 2rem;
}

.read-more img {
  max-height: 200px;
  box-shadow: var(--neon-box-shadow);
  outline: 2px solid var(--bg-color);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.read-more div:hover img {
  transform: scale(1.1);

  transition: 1s;
}

.back {
  height: 30px;
  width: 30px;

  background: var(--hover-color);
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;

  border: 1px solid;
}

.back i {
  color: black;
  font-size: 1.8rem;
  text-align: center;
}
