@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #f5f5f5;
  --hover-color: #12f7ff;
  --bg-color: #250821;
  --second-bg-color: rgba(0, 0, 0, 0.8);
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --neon-box-shadow: 0 0 0.5rem #12f7ff;
  --h2-font: 3rem;
}

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--second-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 5rem;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 100%;
  width: 100%;
}

/* -------------------NAVBAR STYLE-------------------- */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;

  background-color: rgba(34, 11, 31, 0);
  border-radius: 30px 30px 30px 30px;
  position: fixed;
  z-index: 1000;
}

.navbar:hover {
  box-shadow: 0px 0px 5px rgb(235, 25, 235);
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.logo::first-letter {
  font-family: "Lobster", cursive;
}

span {
  color: var(--hover-color);
}

.dot {
  font-size: 25px;
  font-weight: 800;
  color: #7f00ff;
}

.navlist {
  display: flex;
}

.navlist li a {
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 20px;

  text-transform: uppercase;
}

.navlist li a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
}

#menu {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 20px;
  background: rgba(3, 193, 241);
  border-radius: 3px;
  color: var(--secon-bg-color);
  display: none;
}

/* -------------------SOCIAL MEDIA ICONS--------------------- */

.social {
  position: fixed;
  top: 5rem;
}
.social ul {
  padding: 0px;
  transform: translate(-270px, 0);
  top: 60px;
}
.social ul li {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: center;
  font-style: italic;
  padding-left: 10px;
  padding-top: 12px;
  padding-right: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;

  height: 3.5rem;
}
.social ul li:hover {
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  transform: rotate(360deg);
  transition: all 1s;
}

/* linkedin color after hover */
.social ul li:hover #linkedin {
  color: #fff;
  background: #0e76a8;
}

/* github color after hover */
.social ul li:hover #github {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.8);
}

/* insta color after hover */
.social ul li:hover #instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );

  /* -webkit-background-clip: text; */
  /* Also define standard property for compatibility */
  /* background-clip: text; */
  -webkit-text-fill-color: white;
}

.social ul li a {
  color: var(--text-color);
}

.social ul li a:hover {
  color: var(--hover-color);
}

.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding-top: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #ffffff;
  transform: rotate(0deg);
}

/* -----For All Section------ */
section {
  padding: 100px 10%;
  height: 100%;
}
