/* ----------------------CONTACT SECTION-------------------------- */

.contact {
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: var(--second-bg-color);
}

.contact .headline {
  text-align: center;
}

.headline head {
  display: flex;
}

.headline head div {
  height: 50px;
  width: 50px;
}

.contact form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3 rem;
}

.field-holder {
  position: relative;
  margin-bottom: 0.7em;
}

form label {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 100;
  color: rgb(96, 130, 130);
  background-image: var(--bg-color);
  transition: all 0.2s ease-in-out;
}

form input,
form textarea {
  width: 100%;
  color: var(--text-color);
  font-size: 1rem;
  background: var(--bg-color);
  margin-bottom: 0.8rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  outline: none;
  padding: 0.7rem;
}

form input {
  height: 55px;
}

form textarea {
  resize: none;
}

form input:focus ~ label,
form input:valid ~ label,
form textarea:focus ~ label,
form textarea:valid ~ label {
  font-size: 0.9em;
  top: -9px;
  pointer-events: none;
  color: white;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    #250821,
    #250821,
    #250821
  );
}

.form-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}

.form-btn button {
  width: 150px;
  height: 100%;

  background: var(--hover-color);
  color: var(--bg-color);
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.6s;

  box-shadow: var(--neon-box-shadow);
  border-radius: 5px;

  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(--hover-color);

  cursor: pointer;
}

.form-btn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.4s;
}

.form-btn button:hover {
  color: var(--hover-color);
}

.form-btn button:hover::before {
  width: 100%;
}
