/* ----------------------PORTFOLIO SECTION-------------------------- */
.portfolio {
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.filter-button {
  text-align: center;
  margin: 2rem;
}

.filter-button .btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-left: 1.3rem;
  color: var(--text-color);
}

.filter-button .btn:hover {
  color: var(--hover-color);
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
}

.port-box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #292e33;
  display: flex;
  grid-template-rows: 1fr auto;
  align-items: center;
  border: 2px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
}

.port-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: black;
}

.port-image img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.port-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  background: var(--second-bg-color);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  padding: 0.2rem;
}

.port-box:hover .port-content {
  opacity: 1;
}

.port-box:hover .port-image img {
  opacity: 0.5;
  transform: scale(1.1);
}

.port-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.port-content p {
  font-size: 0.9rem;
  margin: 5px 0 15px 0;
  padding: 0.3em;
}

.port-content a {
  background: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--bg-color);
  outline: 2px solid #fff;
}

.port-content a i {
  font-size: 1.5rem;
  color: black;
}

.port-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
