/* ----------------------SKILLS SECTION-------------------------- */
.skills {
  background: var(--bg-color);
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.main-text {
  text-align: center;
}

.main-text span {
  color: #fdfdfd;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-text h2 {
  color: var(--hover-color);
  font-family: cursive;
  font-weight: 900;
  font-size: var(--normal-font);
}

.main-skill {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.main-skill h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
  filter: drop-shadow(8px 8px 8px rgb(6, 109, 227));
}

.skill-left,
.skill-right {
  background: var(--second-bg-color);
  border-radius: 5%;
  border: 1px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  outline: 2px solid rgb(3, 35, 72);
  margin-top: 5%;
}

.skill-bar {
  margin-bottom: 2rem;
}

.skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.skill-bar .info img {
  max-width: 40px;
  max-width: 40px;
}

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 2%;
  position: relative;
}

.bar span {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--hover-color);
  border-radius: 25px;
  box-shadow: var(--neon-box-shadow);
}

.bar .c {
  width: 90%;
  animation: c 2s;
}

.bar .python {
  width: 85%;
  animation: python 3s;
}

.bar .java {
  width: 90%;
  animation: java 4s;
}

.bar .javascript {
  width: 50%;
  animation: javascript 5s;
}

@keyframes c {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.all-icons img {
  max-width: 60px;
  max-width: 60px;
}

.all-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 30px;
  flex-wrap: wrap;
}

.all-icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--hover-color);
  grid-gap: 5px;
}

.all-icons div:hover img {
  transform: translateX(-10%) translateY(-10%);
}
